<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Joshua's Project 2 Wiki</title>
    {% load static %}
<!--    <link rel="stylesheet" href="{% static 'Project2App/css/bootstrap.css' %}">-->
    <link rel="stylesheet" href="{% static 'Project2App/css/base.css' %}">
    <!--<script src="{% static 'Project2App/js/jquery-3.3.1.min.js' %}"></script>-->
    <!--<script src="{% static 'Project2App/js/bootstrap.js' %}"></script>-->
</head>
<body class="arrange">

<header>
    <h1>
        {% block header %}
        This is the base
        {% endblock header %}
    </h1>
</header>
<nav>
    <h4 class="background01"><p class="lineup"><a class="textcolor01" href="{% url 'index' %}">Home</a></p>
        <p class="lineup"><a class="textcolor02" href="{% url 'createWiki' %}">Create Wiki</a></p>
        <p class="lineup"><a class="textcolor03" href="{% url 'personalWiki' %}">Personal Wikis</a></p></h4>
</nav>
<content>
    {% block content %}
    <p>Base Base Baby</p>
    {% endblock content %}
</content>
<sidebar>
    {% block sidebar %}
    <h5>This is a Sidebar</h5>
    {% endblock sidebar %}
</sidebar>
<footer>
    <p class="tag"><strong>Wiki 2019</strong></p>
</footer>

</body>
</html>