{% extends 'Project2App/base.html' %}

{% block header %}

{% endblock header %}

{% block content %}
<h2>{{ detailedWiki.title }}</h2>
{{ detailedWiki.body }}
<p><img src="{{ detailedWiki.image.url }}" alt="" width="200"></p>
{% if user.is_authenticated %}
<p><a href="{% url 'relatedContent' detailedWiki.id%}">Add Related Content</a></p>
{% endif %}
<p><a href="{% url 'index' %}">Home</a>
    <a href="{% url 'personalWiki' %}">Personal</a></p>

{% endblock content %}

{% block sidebar %}
{% for related in relatedItems %}
    {{ related.title }} <br> {{ related.body|slice:"0:50" }}
<p><a href="{% url 'editRelated' related.pk %}">Edit</a>
<a href="{% url 'deleteRelated' related.pk %}">Delete</a></h5></p>
{% endfor %}
{% endblock sidebar %}