{% extends 'Project2App/base.html' %}

{% block header %}
Personal Wiki Entries
{% endblock header %}

{% block content %}
{% if user.is_authenticated %}
{% if userWikis %}
{% for wiki in userWikis %}
<p><a href="{% url 'details' wiki.id %}">{{ wiki.title }}</a> <br> {{ wiki.body|slice:"0:170" }} <a
        href="{% url 'editPost' wiki.id %}">Edit</a> <a href="{% url 'deletePost' wiki.id %}">Delete</a></p>
{% endfor %}
{% else %}
<h3>You have no personal entries</h3>
{% endif %}
{% else %}
<h3>You have to be logged in to check your personal wikis.</h3>
{% endif %}
{% endblock content %}

{% block sidebar %}

{% endblock sidebar %}