{% extends 'Project2App/base.html' %}

{% block header %}
Personal Wiki Entries
{% endblock header %}

{% block content %}
{% if user.is_authenticated %}
{% for wiki in userWikis %}
<p><a href="{% url 'details' wiki.id %}">{{ wiki.title }}</a> <br> {{ wiki.body }} <a href="{% url 'editPost' %}">Edit</a> <a href="{% url 'deletePost' %}">Delete</a></p>
{% endfor %}
{% endif %}
{% endblock content %}

{% block sidebar %}
<h5>How dare you ever try to step on my sidebar. <a href="{% url 'editRelated' %}">Edit</a> <a href="{% url 'deleteRelated' %}">Delete</a></h5>
{% endblock sidebar %}